.bg-image{
    background-image: url('../../assets//images//error.avif');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}